 
  @font-face {
    src: url(fonts/karasuma_gothic/KarasumaGothic-Bold.otf);
    font-family:kara-gothic;
  }

  @font-face {
    src: url(fonts/dotgothic16/fonts/ttf/DotGothic16-Regular.ttf);
    font-family:dot-gothic;
  }

 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }

 header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ede326;
    font-family: dot-gothic;
    font-size: 17px;
    border-bottom: #000 solid 6px;
 }
 .Ptext {
  display:flex;
  justify-content: center;
  font-family: dot-gothic;
  font-size: 45px;
  font-weight: bold;
  padding-top: 4%;
 }
 .scoreboard {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   position: absolute 100px;
   padding: 20px;
   font-family: kara-gothic;
   font-size: 45px;
   border: 6px solid;
   border-left: none;
   border-right: none;
   background-image: linear-gradient(107deg, #0022FF 49.8%, #ba0b0b 49.8%);
   overflow: hidden;
 }
 .scoreboard p {
  padding-left: 50px;
  color: #fff;
  -webkit-text-stroke: 4px #000;
  
 }
.user {
  padding-left: 5%;
}

 .choiceboard {
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 2rem;
 }
 
  #begin{
   display:flex;
   justify-content: center;
   font-family: dot-gothic;
   font-size: 45px;
   font-weight: bold;
   overflow: hidden;
 }
 .choicecard {
  width: 190px;
  height: 290px;
  border-radius: 15px;
  border: solid 7px ;
  overflow: hidden;
 }
img {
    object-fit: cover;
    width: 177px;
    height: 276px;
    border-radius: 5px;
 }
 .choicecard:hover {
   cursor: pointer;
   transform: scale(1.1);
 }
 .middle{
padding-top: 4rem;
 }
 button {
  border: 5px solid;
  border-radius: 10px;
  padding: 15px;
  font-family: dot-gothic;
  font-size: 1.4em;
  font-weight: bold;
  word-spacing: 1px;
  background-color: #ede326;
 }
button:hover{
  cursor: pointer;
   transform: scale(1.1);
}
  body {
background-color:#1c8031;
text-align: center;
  }
